h1 {
    color: #b13b3b;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
}

.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
